{% extends "global/base.html" %}

{% block content %}

    <div class="form-wrapper">
 
        <h2>Login</h2>
        {% if user.is_authenticated %}
        <p>
          <strong>{{ user }}</strong>, you are already logged in.<br>
          Click <a href="{% url "contact:logout" %}">here</a> to log out.
        </p>
        {% else %}
          {% include "contact/partials/_userform.html" %}
          <p>New here ? <a href="{% url "contact:register" %}" class="register-link register-p">Register now</a></p>
        {% endif %}
        
      </div>
{% endblock content %}